.nav-title {
    font-family: 'Open Sans';
    font-weight: 400;
}


.nav-contact {
    font-family: 'Open Sans';
    font-weight: 500;
}

.theme-icon {
    padding-top: 6px;
    width: 30px !important;
    height: 30px !important;

}

.theme-icon:hover {
    transform: rotate( -20deg );            
    transition: transform 500ms ease;
    border:none;
}


@media screen and (max-width: 992px) {
    .nav-title {
        font-size: 16px;
        padding-bottom: 1em;
        padding-top: 2px;
    }
    .nav-contact {
        font-size: 18px !important;
        padding-bottom: 1em !important;
        padding-top: 1em !important;
        padding-left:27% !important;
        padding-right: 30% !important;
        margin-bottom: 1em;
    }

    .theme-icon {
        width: 25px !important;
        height: 25px;
    }

    #theme-btn {
        display: block;
        position: absolute;
        top: -0.1em;
        right: 2em;
    }

  }
  

/*Menu toggle*/
#menu-toggle:checked + #menu {
    display: block;
}

/*.nav-title:hover {
    color: #1c77df;
}*/

.text-main-color {
    color: #1c77df;
}